@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  --rounded-box: 0.8rem;
}

#snow-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 20;
}

.snowflake {
  position: fixed;
  top: -10px;
  color: white;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}